*{
  box-sizing: border-box;
  font-family: 'Segoe UI';
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
*:any-link{
  color: black;
  text-decoration: none;
}

@media only screen and (orientation: landscape) {
  body {
    width: 100%;
    margin: 0;
    height: min-content;
    background-color: #ccc;
    background-image: url("../img/autobahn.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y:8rem;
    background-attachment: fixed;
    overflow-x: hidden;
  }
  header{
    width: 100%;
    background-color: #aaa;
    height: 8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  #header1{
    height: 18rem;
    padding-bottom: 1rem;
  }
  #header1 > h2 > a > img{
    height: 1.3em;
    position: relative;
    top: 0.3em;
  } 
  #himg1{
    width: 200px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 40px;
  }
  #himg2{
    max-height: 60%;
    flex-basis: 100%;
  }
  header > h1{
    flex-basis: 100%;
    text-align: center;
    margin: 0;
  }

  header > h2{
    margin: 0;
    flex-basis: 100%;
    text-align: center;
  }
  #za50{
    color: rgb(186, 186, 0);
    -webkit-text-stroke: #333 1px;
  }
  main{
    width: 100%;
  }
  footer{
    width: 100%;
    height: 340px;
    background-color: #aaa;
    line-height: 1.4;
  }

  .box{
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    text-align: center;
    background-color: #ccc;
  }
  .insideboxof{
    float: left;
    font-size: 24px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5rem;
    border: 2px #e30613 solid;
    border-radius: 20px;
    padding: 2%;
  }
    ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #777;
  }
  ::-webkit-scrollbar-thumb {
    background: #666;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .button_rezerw{
    border: 2px #333 solid;
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2%;
    width: 40%;
    margin-left: calc(60%/2);
    margin-right: calc(60%/2);
  }
  .button_rezerw:hover{
    background-color: #666;
  }
  #jakrezerwowac{
    padding-bottom: 0;
  }
  #onas{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #onas > h2{
    font-size: 1.2em;
  }
  #mapa, .others, .socialmedia{
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1%;
      margin-right: 1%;
      width: 30%;
      height: 90%;
      float: left;
    }
  .socialmedia{
      width: 34%;
  }
  .ofir{
    height: 420px;
    overflow-y: auto;
  }
  .ofir::-webkit-scrollbar {
    width: 0px;
  }
  #obszar{
    background-color: rgba(255,255,255,0.4);
  }
  #obszar > h1{
    width: 30%;
    float: left;
  }
  #obszar > hr{
    width: 35%;
    border-color: #e30613;
    float: left;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  #uslugi{
    text-align: center;
  }
  #uslugi > h1{
    width: 30%;
    color: #e30613;
    float: left;
  }
  #uslugi > hr{
    width: 35%;
    border-color: #e30613;
    float: left;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  .flex_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .usluga{
    height: fit-content;
    width: fit-content;
    flex-basis: 50%;
  }
  .usluga::-webkit-scrollbar {
    width: 0px;
  }
  .usluga > h2 > img{
    width: 30px;
    height: auto;
  }
  #mapa2{
    display: none;
  }
  header > img{
    height: 100%;
  }
  #ofirmie{
    background: #aaa;
  }
  #oimg1{
    width: 100%;
  }
  #oimg2{
    display: none;
  }
  .insidepraca{
    border-radius: 20px;
    border: 2px #e30613 solid;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  #praca{
    padding-bottom: 5rem;
  }
  #praca > h1{
    width: 30%;
    color: #e30613;
    float: left;
  }
  #praca > hr{
    width: 35%;
    border-color: #e30613;
    float: left;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  #ofirmie > h1{
    width: 30%;
    color: #e30613;
    float: left;
  }
  #ofirmie > hr{
    width: 35%;
    border-color: #e30613;
    float: left;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  .insidepraca > p{
    font-weight: 700;
  }
  h3{
    margin-block-end: -1rem;
    margin-block-start: 1rem;
  }
  h3.social{
    margin-block-end: -1rem;
    margin-block-start: 1rem;
  }
  .country{
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5rem;
    border: 2px #e30613 solid;
    border-radius: 20px;
    padding: 2%;
    background-color: rgba(255,255,255,0.6);
  }
  #col1{
    width: 50%;
    float: left;
  }
  #col2{
    width: 50%;
    float: left;
  }
  #map_pl, #map_de, #map_be, #map_nl, #map_lu{
    max-width: 100%;
    max-height: 100%;
  }
  #lu{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  }


@media only screen and (orientation: portrait) {
  body {
    width: 100%;
    margin: 0;
    height: auto;
    overflow-x: hidden;
  }
  header{
    width: 100%;
    background-color: #aaa;
    height: 25rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  header > h1{
    flex-basis: 100%;
    text-align: center;
    margin: 0;
  }
  #oimg1{
    display: none;
  }
  #oimg2{
    width: 100%;
    height: auto;
  }
  header > h2{
    margin: 0;
    flex-basis: 100%;
    text-align: center;
  }
  #za50{
    color: rgb(186, 186, 0);
    -webkit-text-stroke: #333 1px;
  }
  #header1 > h2 > a > img{
    height: 1.3em;
    position: relative;
    top: 0.3em;
  } 
 #himg2{
    max-height: 60%;
  }
  #himg1{
    display: none;
  }
  main{
    width: 100%;
    background-color: #ccc;
  }
  footer{
    width: 100%;
    background-color: #aaa;
  }
  .box{
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    background-color: #ccc;
    text-align: center;
  }
  .insideboxof{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5rem;
    border: 2px #e30613 solid;
    border-radius: 20px;
    padding: 4%;
  }
  .country{
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5rem;
    border: 2px #e30613 solid;
    border-radius: 20px;
    padding: 2%;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #777;
  }
  ::-webkit-scrollbar-thumb {
    background: #666;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .button_rezerw{
    border: 2px #333 solid;
    border-radius: 20px;
    position: relative;
    top: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    
  }
  .button_rezerw:hover{
    background-color: #666;
  }
  #mapa{
    display: none;
  }
  #onas{
    margin-top: 20px;
  }
  #mapa2, .others, .socialmedia{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
  }
  .others, .socialmedia{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #mapa2{
    width: 90%;
    height: 420px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  h3, pre{
    margin: 0;
  }
  #praca{
    padding-bottom: 5rem;
  }
  #praca > h1{
    width: 50%;
    color: #e30613;
    float: left;
  }
  #praca > hr{
    width: 25%;
    border-color: #e30613;
    float: left;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  #ofirmie > h1{
    width: 50%;
    color: #e30613;
    float: left;
  }
  #ofirmie > hr{
    width: 25%;
    border-color: #e30613;
    float: left;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  #uslugi{
    text-align: center;
  }
  #uslugi > h1{
    width: 50%;
    color: #e30613;
    float: left;
  }
  #uslugi > hr{
    width: 25%;
    border-color: #e30613;
    float: left;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  .flex_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .usluga > h2{
    font-size: 20px;
  }
  .usluga > h2 > img{
    width: auto;
    height: 20px;
  }
  .usluga{
    height: fit-content;
    width: fit-content;
    flex-basis: 100%;
    margin-bottom: 1rem;
  }
  #obszar > h1{
    width: 80%;
    color: #e30613;
    float: left;
  }
  #obszar > hr{
    width: 10%;
    border-color: #e30613;
    float: left;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  .insidepraca{
    border-radius: 20px;
    border: 2px #e30613 solid;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2rem;
  }
  header > img{
    width: 90%;
  }
  .insidepraca > p{
    font-weight: 700;
  }
  h3{
    margin-block-end: -1rem;
    margin-block-start: 1rem;
  }
  h3.social{
    margin-block-end: -1rem;
    margin-block-start: 1rem;
  }
  #map_pl, #map_de, #map_be, #map_nl, #map_lu{
    max-width: 100%;
    max-height: 100%;
  }
}

.dummy{
  clear: both;
}